<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="helloWorld" class="com.itea.task.beans.HelloWorld"/>
    <bean id="messageServ" class="com.itea.task.beans.Message"/>
    <bean id="randomValue" class="com.itea.task.beans.RandomValue" scope="prototype"/>
    <bean id="randomString" class="com.itea.task.beans.RandomString" scope="prototype"/>
</beans>